* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

/* Experiment Container */
.experiment-container {
  max-width: 1200px; /* Set a max width */
  margin: 0 auto;    /* Center the container */
  padding: 20px;     /* Add padding for spacing */
}

/* Title styling */
.experiment-view-title {
  position: absolute;
  top: 90px;
  left: 25px;
  width: 433px;
  height: 60px;

  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* Experiment Details Component */
.experiment-details-component {
  width: 100%;        
  margin-top: 160px;  
}


/* Buttons Container */
.buttons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 23px; /* Spacing above the buttons */
}


/* View Questionnaires Button */
.view-questionnaires-button {
  width: 500px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 19px;
  background-color: #27A966;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-right: 111px; /* Ensures the text ends 111px from the right edge */
  border: none;
  cursor: pointer;
}

.view-questionnaires-button:hover {
  background-color: #1e8a52;
}

/* Text Inside the Button */
.view-questionnaires-button-text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1.35px;
  line-height: normal;
}

/* Icon Inside the Button */
.view-questionnaires-button-icon {
  width: 46px;
  height: 52px;
  position: absolute;
  right: 30px; 
  top: 19px;   
  fill: #FFF;  
}

/* View Messages Button */
.view-messages-button {
  width: 415px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 19px;
  background-color: #27A966;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 45px;
  padding-right: 111px; 
  border: none;
  cursor: pointer;
}

.view-messages-button:hover {
  background-color: #1e8a52;
}

/* Text Inside the Button */
.view-messages-button-text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 1.35px;
  line-height: normal;
}

/* Icon Inside the Button */
.view-messages-button-icon {
  width: 46px;
  height: 52px;
  position: absolute;
  right: 30px; /* 30px from the right edge */
  top: 23px;   /* 19px from the top edge */
  fill: #FFF;  /* For SVG icons */
}

/* Stop Experiment Button */
.stop-experiment-button {
  width: 468px;
  height: 91px;
  flex-shrink: 0;
  border-radius: 19px;
  background-color: #E81E21;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
}

/* Text Inside the Top Section */
.stop-button-text {
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
  font-weight: 500;
  letter-spacing: 0.95px;
}

.stop-experiment-button:hover {
  background-color: #bf181e;
}